<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Date</title>
</head>
<body>
    <form action="{{ url_for('edit_day') }}" method="POST">
        <!-- Allow user to edit period_started, period_ended, and symptoms. Then save changes to the database-->
        <label>Did your period start today?</label>
        <select name="period_start">
            <option value="yes">No</option>
            <option value="no">Yes</option>
        </select>
        <br><br>
        <label>Did your period end today?</label>
        <select name="period_end">
            <option value="yes">No</option>
            <option value="no">Yes</option>
        </select>
        <br><br>
        <label>Do you have a headache?</label>
        <select name="headache">
            <option value="yes">No</option>
            <option value="no">Yes</option>
        </select>
        <br><br>
        <label>Do you have cramps?</label>
        <select name="cramps">
            <option value="yes">No</option>
            <option value="no">yes</option>
        </select>
        <br><br>
        <label>Do you have acne?</label>
        <select name="acne">
            <option value="yes">No</option>
            <option value="no">Yes</option>
        </select>
        <br><br>
        <label>Are you feeling tired?</label>
        <select name="fatigue">
            <option value="yes">No</option>
            <option value="no">Yes</option>
        </select>
        <br><br>
        <!--Include the line below so that when submitting, can draw the id for the specific day from the form so the db can be updated-->
        <input hidden="hidden" name="id" value="{{day.id}}">
        <!--Button that saves the changes to the database-->
        <button type="submit">Save</button>
    </form>
</body>
</html>